@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-text: rgb(var(--text));
  --color-background: rgb(var(--background));
}

@layer base {
  :root {
    --text: 31 31 31;
    --background: 237 237 237;
  }

  .dark {
    --text: 224 224 224;
    --background: 18 18 18;
  }
}
