---
import "@/styles/global.css"

import Icon from "@/assets/avatar.png";

import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" href={Icon.src} />
		<title>{ title }</title>
		<meta name="description" content={description}>
	</head>
	<body class="bg-background text-text">
		<Header client:load />

		<main class="pt-16"></main>

		<Footer />
	</body>
	<script is:inline>
		const getPreferredTheme = () => {
			const selectedTheme = localStorage.getItem("theme");
			const preferesDark = window.matchMedia("(prefers-color-scheme: dark)").matches;

			return selectedTheme || (preferesDark ? "dark" : "light");
		}

		const theme = getPreferredTheme();
		localStorage.setItem("theme", theme);
		document.documentElement.classList.toggle("dark", theme === "dark");
	</script>
</html>